**/state/
**/share/nvim/
**/share/onlyoffice/
**/share/Steam/
**/share/vulkan
**/glib-2.0
**/flatpak/
**/dconf/
**/emacs/elpa
**/emacs/eln-cache
**/emacs/transient
**/emacs/tree-sitter
**/emacs/places
**/emacs/auto-save-list
**/xfce4
**/Thunar
.cache/
TelegramDesktop/
termusic/
nvim-pack-lock.json
pavucontrol.ini
pulse/
obs-studio/
.nvimlog
history.txt
env.nu
htop
recently-used.xbel
pavucontrol.ini
