spawn-at-startup "xwayland-satellite"
spawn-at-startup "xdg-desktop-portal-gtk"
spawn-at-startup "xdg-desktop-portal-wlr"
spawn-at-startup "xdg-desktop-portal-gnome"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "udiskie" "-aNT"

prefer-no-csd

environment {
    DISPLAY ":0"
    XDG_SESSION_TYPE "wayland"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    GTK_THEME "Adwaita:dark"
    MOZ_ENABLE_WAYLAND "1"
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
    hide-when-typing
}

animations {
    // off
}

input {
    keyboard {
        xkb {
            layout "us,ua,ru"
            options "grp:alt_shift_toggle,ctrl:nocaps"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

output "HDMI-A-1" {
    mode "1920x1080@120"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 5
    background-color "transparent"

    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }

    border {
        off
    }

    struts {
        left 3
        right 3
        top 3
        bottom 2
    }
}

hotkey-overlay {
    skip-at-startup
}

workspace "browser" {
    open-on-output "HDMI-A-1"
}

workspace "work" {
    open-on-output "HDMI-A-1"
}

workspace "chat" {
    open-on-output "eDP-1"
}

window-rule {
    match app-id="waterfox"
    match app-id="firefox"
    open-on-workspace "browser"
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    exclude title="termusic"
    open-on-workspace "work"
}

window-rule {
    match app-id="com.mitchellh.ghostty" title="termusic"
    open-on-workspace "chat"
    block-out-from "screen-capture"
}

window-rule {
    match app-id="org.telegram.desktop"
    open-on-workspace "chat"
    block-out-from "screen-capture"
}

window-rule {
    match app-id="org.telegram.desktop" title="Media viewer"

    open-floating true
    open-maximized false
    open-fullscreen false
    clip-to-geometry false
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

binds {
    Mod+Return { spawn "ghostty"; }
    Mod+F { spawn "ghostty" "--title=yazi" "-e" "yazi" "~"; }
    Mod+M { spawn "ghostty" "--title=termusic" "-e" "termusic"; }
    Mod+D { spawn "wmenu-run" "-i" "-p" "Run:"; }
    Mod+Z { screenshot show-pointer=false; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+C repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Ctrl+F { maximize-column; }

    Mod+Shift+F       { toggle-window-floating; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+S { focus-monitor-next; }
}
