[Desktop Entry]
Name=Discord
Exec=/home/user/discord/DiscordPTB
Icon=/home/user/discord/discord.png
Type=Application
Categories=Network;InstantMessaging;
